.input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}

.input input {
  height: 40px;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  background: transparent;
  padding-left: 50px;
  font-family: var(--type-first);
  font-size: 1.125em;
  color: var(--dark-grey);
}

.input input:focus {
  outline: none;
}

.input input:-webkit-autofill {
  box-shadow: 0 0 0 30px var(--background) inset !important;
}

.email::before {
  position: absolute;
  top: 11px;
  left: 15px;
  content: '';
  width: 20px;
  height: 20px;
  background: url('../../../assets/mail_icon.svg') no-repeat center;
  background-size: 20px;
}

.password::before {
  position: absolute;
  top: 11px;
  left: 15px;
  content: '';
  width: 20px;
  height: 20px;
  background: url('../../../assets/passwd_icon.svg') no-repeat center;
  background-size: 20px;
}

.name::before {
  position: absolute;
  top: 9px;
  left: 15px;
  content: '';
  width: 20px;
  height: 25px;
  background: url('../../../assets/name_icon.svg') no-repeat center;
  background-size: 20px;
}

.number::before {
  position: absolute;
  top: 11px;
  left: 15px;
  content: '';
  width: 20px;
  height: 20px;
  background: url('../../../assets/number_icon.svg') no-repeat center;
  background-size: contain;
}

.number input {
  background: white;
  border: none !important;
}

.address::before {
  position: absolute;
  top: 11px;
  left: 15px;
  content: '';
  width: 20px;
  height: 20px;
  background: url('../../../assets/address_icon.svg') no-repeat center;
  background-size: 20px;
}

.address input {
  background: white;
  border: none;
}

.input p {
  color: var(--red);
  font-weight: 200;
}
