.card {
  background: white;
  display: flex;
  padding: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border-top-right-radius: 60px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  font-size: 1.25em;
  font-weight: 600;
  margin: 10px 0;
}

.discount {
  font-weight: 200;
  text-decoration: line-through;
  margin-right: 15px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity input {
  width: 30px;
  font-family: var(--type-second);
  font-size: 1em;
  border: none;
  text-align: center;
}

.quantity button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-orange);
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-family: var(--type-second);
}

button.decrement {
  background: var(--light-grey);
  color: white;
  opacity: 0.5;
}

button.decrement:disabled {
  opacity: 0.3;
}
